---
import { LOREM_110 } from "~/utils/loremIpsum";
import Feature from "./feature.astro";
---

<div
  class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white"
>
  <Feature header="Headers" description={LOREM_110} />
  <Feature header="Headers" description={LOREM_110} />
  <Feature header="Headers" description={LOREM_110} />
  <Feature header="Headers" description={LOREM_110} />
  <Feature header="Headers" description={LOREM_110} />
  <Feature header="Headers" description={LOREM_110} />
</div>
